:root {
  --primary: #12417D;
  --secondary: #FF6347;
  --accent: #FF6347;
  --neutral: #F8FAFC;
  --text-strong: #0F172A;
  --text-weak: #64748B;
  --stroke: #E2E8F0;
}

.App {
  width: 100%;
  min-height: 100vh;
}
